{% extends "base.html" %}
{% block title %}RepurposeDB | About Us{% endblock %}
{% block content %}

   <div class="container homepage">
      <div class="container">
          <font color="black"></font>
        	<h2>About Us</h2>
        	<hr>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Khader_Picture.png')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Shameer Khader:</b><br>
	    				Senior Biomedical Informatics Research Scientist in the Dudley Lab <br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Glicksberg_Picture.png')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Benjamin S Glicksberg:</b><br>
	    				PhD Student in Neuroscience in the Dudley Lab<br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Readhead_Picture.png')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Ben Readhead:</b><br>
	    				Biomedical Informatics Research Scientist in the Dudley Lab<br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Kidd_Picture.png')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Brian A. Kidd:</b><br>
	    				Senior Biomedical Informatics Research Scientist in the Dudley Lab<br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Miotto_Picture.png')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Riccardo Miotto:</b><br>
	    				Biomedical Data Scientist in the Dudley Lab<br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Badgeley_Picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Marcus Badgeley:</b><br>
	    				MD/PHD Student in the Dudley Lab <br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Hodos_Picture.jpeg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Rachel Hodos:</b><br>
	    				PHD Student in Computational Biology in the Dudley Lab <br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Tomlinson_Picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Max S Tomlinson:</b><br>
	    				Bioinformatics Programmer in the Dudley Lab <br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/OConnor_picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Timothy O'Connor</b><br>
	    				Boston College, Morrissey College of Arts and Sciences<br>
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Chen_Picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Rong Chen</b><br>
	    				Assisstant Professor of Genetics and Genomic Sciences <br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology<br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Maayan_Picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Avi Ma'ayan</b><br>
	    				Associate Professor of Pharmacology and Systems Therapeutics<br>
						Department of Pharmacology and Systems Therapeutics<br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<img src="{{url_for('static', filename='images/peoplePictures/Dudley_Picture.jpg')}}" class="img-responsive thumbnail" style="border:3px solid red;">
            	</div>
	    		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Joel T Dudley</b><br>
	    				Director of Biomedical Informatics, CTSA <br>
	    				Assistant Professor of Genetics and Genomic Sciences <br>
	    				Director of Biomedical Informatics<br>
						Department of Genetics and Genomic Sciences<br>
						Department of Population Health Science and Policy<br>
						Icahn Institute for Genomics and Multiscale Biology <br>
						Icahn School of Medicine at Mount Sinai, New York, New York, USA.
   					</p>
				</div>
			</div>
        	<div class=row>
	    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p align=justify>
	    				<b>Funding:</b><br>
	    				Design, development and analytics of RepurposeDB is supported by the following NIH grants: R01-DK098242-03 and U54-CA189201-02
   					</p>
				</div>
			</div>
      </div>
    </div>
{% endblock %}