<!DOCTYPE html PUBLIC>
<html>
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="index, curation and cataloging of drug repositioning investigations" content="Individualized medicine, Drug repositioning, Network analysis, Translational bioinformatics, Disease comorbidity, Orphan disease, Biomedical data mining, drug repurposing, joel dudley, shameer khader, icahn institute, drug discovery /">
    <meta http-equiv="content-type" content="../text/html; charset=ISO-8859-1">
	
	
    
    <!-- JQuery -->
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    
    <title>{% block title %}RepurposeDB | Cataloging Drug Repositioning Investigations{% endblock %}</title>
    
    <!-- Call page specific plugins -->
    {% block head %}{% endblock %}

    <!-- Arvo font and font-awesome include -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' >
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}">

    <!-- Bootstrap core CSS -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jquery.auto-complete.css') }}">
    
    
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/select2.min.css') }}">

	<script type="text/javascript" src="{{url_for('static', filename='js/custom.js') }}"></script>
    
  

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
	
    
    
    

</head>
{% macro render_field(field) %}

  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul id="errors" class="errors" style="color:red;">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container"  id="visibleonload">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}" title = "Home"><i class="fa fa-home" style="color:white"></i> RepurposeDB</a>
        	
        </div>
        <div class="collapse navbar-collapse">
        	
         	<ul class="nav navbar-nav navbar-right">
            	<li class = "navbar-custom"><a href="{{url_for('browseDrugs')}}" title="Browse repurposed drugs">DRUGS</a></li>
            	<li><a href="{{url_for('browseDiseases')}}" title="Browse primary and secondary indications of repurposed drugs">DISEASE</a></li>
            	<li><a href="{{url_for('RxPRED')}}" title="Investigate your compound compared to those in RxDB">SIMILARITY</a></li>
            	<!-- <li><a href="{{url_for('RxPRED')}}" title="Make you own drug predictions">RxPRED</a></li> -->
            	<li><a href="{{url_for('contribute')}}" title="Minimum Information About Drug Repurposing Investigation">MIADRI</a></li>
            	<li class = "hidden-xs">
	            	<div class = "form-group">
		            	<form class="navbar-form navbar-right navbar-input-group" action="{{url_for('search')}}" method="POST">
		         			<div class="input-group" style="width:250px">
		         				<input type="text" placeholder="Search RepurposeDB" class="form-control navSearch" style="width:250px; height:31px" name = "query">
						        <span class="input-group-btn">
						          <button class="btn btn-default" type="submit" style="height:31px"><span class="fa fa-search"></span></button>
						        </span>
		         			</div>
		         		</form>
	         		</div>
         		</li>
            	<li class = "visible-xs"><a href="{{url_for('mobileSearch')}}" title="Search RepurposeDB">SEARCH</a></li>
            	<li class="dropdown">
          			<a href="{{url_for('help')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Click here for Help">HELP<span class="caret"></span></a>
          			<ul class="dropdown-menu" role="menu">
            			<li><a href="{{url_for('help')}}#introduction">Introduction</a></li>
            			<li><a href="{{url_for('help')}}#DrugRepositioning">Drug Repositioning</a></li>
            			<li><a href="{{url_for('help')}}#RepurposeDB">RepurposeDB</a></li>
            			<li><a href="{{url_for('help')}}#Compounds">Compounds in RepurposeDB</a></li>
            			<li><a href="{{url_for('help')}}#Diseases">Diseases in RepurposeDB</a></li>
            			<li class="divider"></li>
            			<!--<li><a href="{{url_for('help')}}#">RepurposeDB - An Example</a></li> -->
            			<li><a href="{{url_for('help')}}#Browse">RepurposeDB - Browse</a></li>
            			<li><a href="{{url_for('help')}}#Search">RepurposeDB - Keyword Search</a></li>
            			<li class="divider"></li>
            			<li><a href="{{url_for('help')}}#references">RepurposeDB - References</a></li>
          			</ul>
        		</li>
          	</ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	{% block content %}
    {% endblock %}
      <div class="container">
      	<div class="row">
	    	<hr color=silver>
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div> 
		</div>
        <div class="row">
          	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            	<div class="aboutus text-center">
            	  <div class="text-justify"><p><b><a href="mailto:repurposedb@dudleylab.org">Contact Us:<br></a></b>
            	  Please contact us if you have questions or comments about RepurposeDB. You can also 
            	  contact us if you need help in submitting your drug repositioning investigation to RepurposeDB.</p></div>         
	    		  <div class="btn-group dropup" role="group" aria-label="...">
					  	<button type="button" class="btn btn-default" style="height:45px">
							<a href=https://twitter.com/repurposeDB>
		            	  	<img src="{{url_for('static', filename='images/socialmediaicons/twitter.png')}}" class="img-responsive" width=30></a>  
	              	  	</button>
					  	<button type="button" class="btn btn-default" style="height:45px">
							<a href=https://www.facebook.com/pages/RepurposeDB/1590203941237311>
		            	  	<img src="{{url_for('static', filename='images/socialmediaicons/facebook.png')}}" class="img-responsive" width=30></a>  
	              		</button>
					  	<button type="button" class="btn btn-default" style="height:45px">
							<a href=https://plus.google.com/u/0/b/104437201642416507193/104437201642416507193/about>
		            	  	<img src="{{url_for('static', filename='images/socialmediaicons/google.png')}}" class="img-responsive" width=30></a>  
	              		</button>
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="height:45px">
						    <i class="fa fa-share-alt fa-lg"></i> Share<span class="caret"></span>
						</button>
					  	<ul class="dropdown-menu dropdown-menu-right text-justify" role="menu" >
						    <li><a href="http://www.facebook.com/sharer.php?u=http://repurposedb.dudleylab.org" target="_blank">
						    		<img src="{{url_for('static', filename='images/socialmediaicons/facebook.png')}}" alt="Facebook"  width=30/> Facebook</a></li>
						    <li><a href="http://twitter.com/share?url=http://repurposedb.dudleylab.org&text=RepurposeDB&hashtags=RepurposeDB" target="_blank">
						    		<img src="{{url_for('static', filename='images/socialmediaicons/twitter.png')}}" alt="Twitter"  width=30/> Twitter</a></li>
						    <li><a href="https://plus.google.com/share?url=http://repurposedb.dudleylab.org" target="_blank">
						    		<img src="{{url_for('static', filename='images/socialmediaicons/google.png')}}" alt="Google"  width=30/> Google+</a></li>
					  	</ul>
				  </div>
				  </div>
          	</div>
	      	<span class="visible-xs visible-sm"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    	<hr color=silver>
			</div></span>
          	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            	<div class="contact"> 
					<b><a href=http://dudleylab.org style="text-decoration:none;">Dudley Laboratory</a></b><br>
						Department of Genetics and Genomic Sciences<br>
						Icahn Institute for Genomics and Multiscale Biology<br>
						Icahn School of Medicine at Mount Sinai <br>
						One Gustave L. Levy Place, Box 1498 <br>
                		Manhattan, New York City, NY          
		        	<div style="padding-left:17px;">
                		<i class="icon-envelope"></i>
                		<i class="fa fa-pencil fa-lg" style="color:grey"></i><a href="mailto:repurposedb@dudleylab.org">repurposedb@dudleylab.org </a><br>
              		</div> 
            	</div>    
          	</div>
	      	<span class="visible-xs"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		    	<hr color=silver>
			</div></span>
          	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            	<div class="alllinks">    
            		<ul>
                		<li><a href="{{url_for('index')}}">Home</a></li>
                		<li><a href="{{url_for('contribute')}}#contribute">Submit to RepurposeDB</a></li>    
                		<li><a href="{{url_for('aboutUs')}}">About Us</a></li>
                		<li><a href="https://bitbucket.org/MaxTomlinson/repurposedb">Source Code</a></li>
                		<li><a href="{{url_for('sourceData')}}">SourceData</a></li>
                		<li><a href="{{url_for('statistics')}}">RepurposeDB Statistics</a></li> 
                		<li><a href="{{url_for('privacy')}}">Privacy Policy</a></li>
                		<li><a href="{{url_for('disclaimer')}}">DISCLAIMER</a></li>
              		</ul>
            	</div>
          	</div>
        </div>
        <div class="row">
        	<hr color=silver>
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center-all copyright qc-margin" align=center> &#169 2014 Joel T Dudley Laboratory Research | &#169 2014 Icahn School of Medicine at Mount Sinai</div> 
        </div>
      </div>
</body>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.auto-complete.min.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/selectize.bootstrap3.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='js/selectize.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/select2.min.js')}}"></script>
</html>