{% extends "base.html" %}
{% block title %}RepurposeDB | Browse Diseases{% endblock %}
{% block content %}

    <div class="container homepage">
        <h2>Browse Diseases</h2>
        <hr>
      		<p align=center>Please click on the alphabet below to browse the drugs by the letter of their indicated diseases</p>
    </div>
    <div class="container">
      	<div class="row" style="text-align:center">
      		<hr color = "silver">
	        <ul class="pagination" >
	        {% for alph in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','Other'] %}
	        	{% if letter == alph %}
	        		<li class="active"><span>{{alph}}</span></li>
	        	{% elif alph in emptyLetters  %}
	        		<li class="disabled"><span>{{alph}}</span></li>
	        	{% else %}
	        		<li><a href="{{url_for('browseDiseases')}}{{alph}}/1">{{alph}}</a></li>
	        	{% endif %}
			{% endfor %}
	        </ul>
        </div>
    </div>
    {% if letter %}
    {% if results %}
    <div class="container">
      	<div class="row">
      		<hr color = "silver">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        	<table class="table table-hover">
              	
              	<thead>
              		<tr>
              			{% for col in header %}
	    					<th>{{col}}</th>
              			{% endfor%}
    				</tr>
  				</thead>
              	<tbody>
              		{% for entry in results[PER_PAGE*(page-1):PER_PAGE*page] %}
              			<tr>
							<td><a href="{{url_for('disease', id = entry[0])}}">{{entry[0]}}</a></td>
							<td>{{entry[1][0].upper() + entry[1][1:]}}</td>
              				{% for col in entry[2:] %}<td>{% for drug in expand(col) %}
              					{% if drug %}
									<a href='{{url_for('drug', id = drugIDLookup[drug])}}'>{{drug[0].upper() +drug[1:] if loop.index==1 else drug}}{% if loop.index != expand(col)|length %};{% endif %}</a>
								{% endif %}
							{% endfor %}</td>{% endfor %}
						</tr>
              		{% endfor %}
  				</tbody>
              </table>
              {% if pagination %}
              <div style = "text-align:center">
			  	<ul class="pagination">
				  	{% if pagination.has_prev %}
				    	<li><a href="{{url_for_other_page(pagination.page-1)}}">&laquo;</a></li>
				  	{% endif %}
				  	{% for next_page in pagination.iter_pages() %}
				    	{% if next_page %}
				      		{% if next_page != pagination.page %}
				        		<li><a href="{{url_for_other_page(next_page)}}">{{ next_page }}</a></li>
				      		{% else %}
				        		<li class = "active"><a>{{ next_page }}</a></li>
				      		{% endif %}
				    	{% else %}
				      		<li><span class=ellipsis>…</span></li>
				    	{% endif %}
				  	{% endfor %}
				  	{% if pagination.has_next %}
				    	<li><a href="{{url_for_other_page(pagination.page + 1)}}">&raquo;</a></li>
				  	{% endif %}
			  	</ul>
			  </div>
              {% endif %}
	        </div>
        </div>
    </div>
    {% else %}
    <div class="container">
      	<div class="row">
      		<hr color = "silver">
    		<p align=center>There are no results to show here.</p>
    	</div>
    </div>
    {% endif %}
    {% endif %}
      

{% endblock %}