<!DOCTYPE html>
<html>
<head>

<meta charset=utf-8 />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/cy.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/cytoscape.min.js')}}"></script>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/custom.css') }}">
</head>
<body>
<script>$(function(){ // on dom ready

	$('#cy').cytoscape({
	  style: cytoscape.stylesheet()
	    .selector('node')
	      .css({
	    	'shape': 'data(shape)',
	        'content': 'data(name)',
	        'font-size': '10',
	        'text-valign': 'center',
	        'background-color': 'data(color)',
	      })
	    .selector('edge')
	      .css({
	        'target-arrow-shape': 'triangle'
	      })
	    .selector(':selected')
	      .css({
	        'background-color': 'black',
	        'line-color': 'black',
	        'target-arrow-color': 'black',
	        'source-arrow-color': 'black'
	      })
	    .selector('.faded')
	      .css({
	        'opacity': 0.25,
	        'text-opacity': 0
	      }),
	  
	      elements: {
	    	  	{% if 'R' in id[0] %}
	    	  		{% set centershape, circleshape = 'ellipse', 'triangle' %}
	    	  	{% else %}
	    	  		{% set centershape, circleshape = 'triangle', 'ellipse' %}
	    	  	{% endif %}
	    	    nodes: [
	    	      	{ data: { id: "{{id}}", name: "{{name}}", color: "#FC9090", shape: "{{centershape}}"} },
	    	      {% for indication in primaryIndications %}
	    	      	{ data: { id: "{{indication[1]|safe}}", name: "{{indication[0]|safe}}", color: "#00F2FF", shape: "{{circleshape}}"   } },
	    	      {% endfor %}
	    	      {% for indication in secondaryIndications %}
	    	      	{ data: { id: "{{indication[1]|safe}}", name: "{{indication[0]|safe}}", color: "#A5CFD1", shape: "{{circleshape}}"   } },
	    	      {% endfor %}
	    	    ],
	    	    edges: [
	    	      
		    	      {% for indication in primaryIndications %}
		    	      	{ data: { source: "{{id}}", target: "{{indication[1]|safe}}" } },
		    	      {% endfor %}
		    	      {% for indication in secondaryIndications %}
		    	      	{ data: { source: "{{id}}", target: "{{indication[1]|safe}}" } },
		    	      {% endfor %}
		    	    ]
	    	      
	      },
	  {% if not showGrid %}
	  layout: {
		  //name: 'grid',
		  name: 'concentric',
		  minNodeSpacing: 100,
	    padding: 10,
	    //columns: 4
	  },
	  {% else %}
	  layout: {
		  name: 'grid',
		  minNodeSpacing: 200,
	    padding: 10,
	    columns: 4
	  },
	  {% endif %}
	  
	  // on graph initial layout done (could be async depending on layout...)
	  ready: function(){
	    window.cy = this;
	    cy.userZoomingEnabled(false);
	    cy.maxZoom(10);
	    cy.minZoom(.5);
	    // giddy up...
	    
	    cy.elements().unselectify();
	    
	    cy.on('tap', 'node', function(e){
	      //var node = e.cyTarget; 
	      var target_id = e.cyTarget.data('id');
	      //cy.elements().addClass('faded');
	      //neighborhood.removeClass('faded');
	      if (target_id != '{{id}}'){
	        	{% if id[0] != 'R' %}
	     		window.open("{{url_for('drug', id='')}}"+target_id);
				{% else %}
	     		window.open("{{url_for('disease', id='')}}"+target_id);
				{% endif %}
		    	}
	    });
	    
	    cy.on('tap', function(e){
	    	cy.userZoomingEnabled(true);
	      if( e.cyTarget === cy ){
	        cy.elements().removeClass('faded');
	      }
	    });
	  }
	});

	}); // on dom ready
</script>
<div id="cy"></div>
</body>
</html>