<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="{{url_for('static', filename='js/cytoscape.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/JSmol.min.js')}}"></script>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/cy.css') }}">
<script type="text/javascript">

//<![CDATA[
Jmol._isAsync = false;

// last update 2/18/2014 2:10:06 PM

var jmolApplet0; // set up in HTML table, below

// logic is set by indicating order of USE -- default is HTML5 for this test page, though

var s = document.location.search;

// Developers: The _debugCode flag is checked in j2s/core/core.z.js, 
// and, if TRUE, skips loading the core methods, forcing those
// to be read from their individual directories. Set this
// true if you want to do some code debugging by inserting
// System.out.println, document.title, or alert commands
// anywhere in the Java or Jmol code.

Jmol._debugCode = (s.indexOf("debugcode") >= 0);

jmol_isReady = function(applet) {
	document.title = (applet._id + " - Jmol " + Jmol.___JmolVersion)
	Jmol._getElement(applet, "appletdiv")
	Jmol.script(applet, "spin on; set bondRadiusMilliAngstroms 100;  set percentVdwAtom 15;");
}		

var Info = {
	width: 350,
	height: 350,
	debug: false,
	color: "0xFFFFFF",
	use: "HTML5",   // JAVA HTML5 WEBGL are all options
	j2sPath: "{{url_for('static', filename='jsmol/j2s')}}", // this needs to point to where the j2s directory is.
	jarPath: "{{url_for('static', filename='jsmol/java')}}",// this needs to point to where the java directory is.
	jarFile: "JmolAppletSigned.jar",
	isSigned: true,
	{% if id %}script: "set antialiasDisplay;load {{url_for('static', filename=filetype+'/'+ id + '.' + filetype)}}",
	{% else %}script: "set antialiasDisplay;load {{url_for('static', filename=filename)}}",{% endif %}
	readyFunction: jmol_isReady,
	disableJ2SLoadMonitor: true,
  	disableInitialConsole: true,
  	allowJavaScript: true
	//defaultModel: "$dopamine",
	//console: "none", // default will be jmolApplet0_infodiv, but you can designate another div here or "none"
}

$(document).ready(function() {
  $("#appdiv").html(Jmol.getAppletHtml("jmolApplet0", Info))
})
var lastPrompt=0;
//]]>
</script>
</head>
<body>
<div id="appdiv"></div>
</body>
</html>