<!DOCTYPE html>
<meta charset="utf-8">
<style>

#chart svg {
  height: 400px;
}
.axis path {
				font-family: sans-serif;
				font-size: 30px;
			}

</style>


<div id="chart">
  <svg></svg>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/d3.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/nv.d3.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/nv.d3.min.js') }}"></script>
<script>
nv.addGraph(function() {
		var chart = nv.models.scatterChart()
	    	.showDistX(true)
	    	.showDistY(true)
	    	.color(d3.scale.category10().range());

		chart.xAxis.tickFormat(d3.format('.02f'));
		chart.yAxis.tickFormat(d3.format('.02f'));
		chart.yAxis.axisLabel('{{y_axis}}');
		chart.xAxis.axisLabel('{{x_axis}}');
		chart.tooltipContent(function(key, x, y, e, graph) {
		    return '<h3>' + graph.point.id + '</h3><p>{{x_axis}}: ' + x + '<br> {{y_axis}}: ' + y + '</p>';
		});
		
		d3.select('#chart svg')
		.datum(data())
		.transition().duration(500)
		.call(chart);
		
		nv.utils.windowResize(chart.update);
		
		return chart;
});
function data() {
  var data = [],
      shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'];

  data.push({
      key: '{{id}}',
      values: [],
    },
    {
      key: 'All Other RepurposeDB Drugs',
      values: [],
    });

  data[0].values.push({
    x: {{d3DataDict[id][x_axis]}}
  , y: {{d3DataDict[id][y_axis]}}
  , size: 2
  , shape: shapes[0]
  , id: '{{id +': '+ drugIDLookup[id]}}'
  });
  {% for drug in d3DataDict %}
	data[1].values.push({
	    x: {{d3DataDict[drug][x_axis]}}
	  , y: {{d3DataDict[drug][y_axis]}}
	  , size: 1
	  , shape: shapes[0]
	  , id: '{{drug +': '+ drugIDLookup[drug]}}'
  	});
  {% endfor %}

  return data;
}

</script>