<html  xmlns="http://www.w3.org/1999/xhtml"
       xml:lang="en-US"
       lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>IF4IT Sample Charts Web Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="Description" content="This page tries to mix charts with html formatting and layout constructs." />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-l" />

    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.4.5"></script>


    <script type="text/javascript">

      // This example draws a Radial Hub and Spoke Graph on a page with multiple
      // HTML layout constructs.
      // Created by Frank Guerino : "http://www.guerino.net"

      // Data Used for this example...

      var focalNode = [
        {id: "N1", name: "{{name}}", type: "Type 1", hlink: "{{url_for('drug', id = id)}}"}
      ];

      var nodeSet = [
        //{id: "N1", name: "Node 1", type: "Type 1", hlink: "http://www.if4it.com"},
        {id: "N2", relName: "mucolytic", type: "Primary Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N3", relName: "paracetamol overdose", type: "Primary Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N4", relName: "acetaminophen overdose", type: "Primary Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N5", relName: "acute liver failure", type: "Orphan Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N6", relName: "hepatotoxicity", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N7", relName: "hepatic injury", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N8", relName: "abnormal mucous secretions", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N9", relName: "viscid mucous secretions", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N10", relName: "inspissated mucous secretions", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N11", relName: "chronic bronchopulmonary disease", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N12", relName: "tuberculosis", type: "Rare Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N13", relName: "abnormal mucous secretions", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N14", relName: "viscid mucous secretions", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N15", relName: "inspissated mucous secretions", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N16", relName: "Chronic bronchopulmonary disease", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N17", relName: "chronic emphysema", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N18", relName: "emphysema with bronchitis", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N19", relName: "chronic asthmatic bronchitis", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N20", relName: "Acute bronchopulmonary disease", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N21", relName: "bronchitis", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N22", relName: "tracheobronchitis", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N23", relName: "anesthesia", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N24", relName: "Post-traumatic chest conditions", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N25", relName: "Atelectasis", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"},
        {id: "N26", relName: "mucous obstruction", type: "Common Indication", hlink: "{{url_for('disease', id = disease)}}"}
      ];


      function drawRadialHubAndSpoke( drawingName, focalNode, nodeSet, selectString, colors, margin, outerRadius, innerRadius, sortArcs ) {

  // drawingName => A unique drawing identifier that has no spaces, no "." and no "#" characters.
  // focalNode => Primary Node of Context.
  // nodeSet => Set of nodes and their relevant data.
  // selectString => String that allows you to pass in
  //           a D3 select string.
  // colors => String to set color scale.  Values can be...
  //           => "colorScale10"
  //           => "colorScale20"
  //           => "colorScale20b"
  //           => "colorScale20c"
  // margin => Integer margin offset value.
  // outerRadius => Integer outer radius value.
  // innerRadius => Integer inner radius value.
  // sortArcs => Controls sorting of Arcs by value.
  //              0 = No Sort.  Maintain original order.
  //              1 = Sort by arc value size.

  // Color Scale Handling...
        var colorScale = d3.scale.category20c();
        switch (colors)
        {
          case "colorScale10":
            colorScale = d3.scale.category10();
            break;
          case "colorScale20":
            colorScale = d3.scale.category20();
            break;
          case "colorScale20b":
            colorScale = d3.scale.category20b();
            break;
          case "colorScale20c":
            colorScale = d3.scale.category20c();
            break;
          default:
            colorScale = d3.scale.category20c();
        };

  var width = 900;
  var height = 700;
  var centerNodeSize = 100;
  var nodeSize = 10;

  //var node_hash = [];

  // Create a hash that allows access to each node by its ID...
  //nodeSet.forEach(function(d, i) {
    //node_hash[d.id] = d;
        //});

  var color_hash = [];

  // Create a hash that maps colors to types...
  nodeSet.forEach(function(d, i) {
    color_hash[d.type] = d.type;
    //document.writeln(color_hash[d.type]);
        });

        function keys(obj)
          {
            var keys = [];

            for(var key in obj)
            {
              if(obj.hasOwnProperty(key))
              {
                keys.push(key);
              }
            }
          return keys;
        }

  var sortedKeys = keys(color_hash).sort();

  sortedKeys.forEach(function(d, i) {
    color_hash[d] = colorScale(i);
          //document.writeln(color_hash[d]);
  });

  // Add colors to nodes...
  nodeSet.forEach(function(d,i) {
    d.color = color_hash[d.type];
    //document.writeln(d.type);
  });

  var svgCanvas = d3.select(selectString)
    .append("svg:svg")
      .data([nodeSet])
      .attr("width", width)
      .attr("height", height)
          .append("svg:g")
            .attr("class", "focalNode")
      .attr("transform", "translate(" + width/2 + "," + height/2 + ")")

  // Add focalNode text...
        svgCanvas.selectAll("#focalNode")
            .data(focalNode).enter().append("svg:a")
    .append("text")
            .attr("class", focalNode)
            .attr("x", 0)
            .attr("y", 0)
            .attr("dx", 2)
            .attr("dy", 7)
            .style("fill", "Black")
            .style("font", "bold 16px Arial")
            .attr("text-anchor","middle")
            .text(function(d) { return d.name; });

  var arc1 = d3.svg.arc()
      .innerRadius(height/8 - 20)
      .outerRadius(height/8);

  var pie1 = d3.layout.pie()
    .value(function(d) { return 1; } );

  var arcs1 = svgCanvas.selectAll("g.slice1")
      .data(pie1)
          .enter().append("svg:g")
      .attr("class", "slice1");

  arcs1.append("svg:path")
      .attr("fill", function(d) {return d.data.color; } )
      .style("stroke", "White")
      .attr("stroke-width", "2")
      .attr("d", arc1);

  var arc2 = d3.svg.arc()
      .innerRadius(height/8 + 10)
      .outerRadius(height/2.25 - 40);

  var pie2 = d3.layout.pie()
    .value(function(d) { return 1; } );

  var arcs2 = svgCanvas.selectAll("g.slice2")
      .data(pie2)
          .enter().append("svg:g")
      .attr("class", "slice2");

  arcs2.append("svg:path")
      .attr("fill", function(d) {return d.data.color; } )
      .style("fill-opacity", .5)
      .style("stroke", "White")
      .attr("stroke-width", "2")
      .on('mouseover', function(d){
  	    var nodeSelection = d3.select(this).style({opacity:'0.5'});
  	   })
      .on('mouseout', function(d){
    	var nodeSelection = d3.select(this).style({opacity:'1.0'});
      })
      .on('click', function(d){
    	  window.open(d.data.hlink);
        })
      .attr("d", arc2);

  var arc3 = d3.svg.arc()
      .innerRadius(height/2.25 - 30)
      .outerRadius(height/2.25 - 10);

  var pie3 = d3.layout.pie()
    .value(function(d) { return 1; } );

  var arcs3 = svgCanvas.selectAll("g.slice3")
      .data(pie3)
          .enter().append("svg:g")
      .attr("class", "slice3");

  arcs3.append("svg:path")
      .attr("fill", function(d) {return d.data.color; } )
      .attr("stroke-width", "2")
      .style("stroke", "White")
      .attr("d", arc3);

        // Add link names to the arcs, translated to the arc centroid and rotated.
  arcs2.filter(function(d) {
    return d.endAngle - d.startAngle > .2; }).append("svg:text")
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .attr("transform", function(d) { //set text's origin to the centroid
              //we have to make sure to set these before calling arc.centroid
              d.innerRadius = (height/5 + 10); // Set Inner Coordinate
              d.outerRadius = (height/2 - 40); // Set Outer Coordinate
              return "translate(" + arc2.centroid(d) + ")rotate(" + angle(d, -90, 90) + ")";
            })
            .style("fill", "Black")
            .style("font", "normal 10px Arial")
            .text(function(d) { return d.data.relName /* + " " + Math.round(angle(d, -90, 90)) */ ; });

        // Add node names to the arcs, translated to the arc centroid and rotated.
  arcs3.filter(function(d) {
    return d.endAngle - d.startAngle > .2; }).append("svg:text")
            .attr("dy", "5px")
            .attr("angle", function(d) { return angle(d, -90, 90); })
            .attr("text-anchor", function(d) {
              var a = angle(d, 0, 0);
              return a < 0 ? "start" : "end";
            })
            .attr("transform", function(d) { //set text's origin to the centroid
               // Make sure to set these before calling arc.centroid
               d.innerRadius = (height/2); // Set Inner Coordinate
               d.outerRadius = (height/2); // Set Outer Coordinate
               return "translate(" + arc3.centroid(d) + ")rotate(" + angle(d, -90, 90) + ")";
             })
            .style("fill", "Black")
            .style("font", "normal 12px Arial")
            .text(function(d) { return d.data.name /* + " " + Math.round(angle(d, 0, 0)) */ ; });

        // Computes the angle of an arc, converting from radians to degrees.
        function angle(d, offset, threshold) {
          var a = (d.startAngle + d.endAngle) * 90 / Math.PI + offset;
          return a > threshold ? a - 180 : a;
        }

        // Plot the bullet circles...
        svgCanvas.selectAll("circle")
            .data(sortedKeys).enter().append("svg:circle") // Append circle elements
            .attr("cx", width/2-150)
            .attr("cy", function(d, i) { return (i*20-height/7*3); } )
            .attr("stroke-width", ".5")
            .style("fill", function(d, i) { return color_hash[d]; })
            .attr("r", 5)
            .attr("color_value", function(d, i) { return color_hash[d]; })
            .attr("index_value", function(d, i) { return "index-" + i; })
            .attr("class", function(d, i) { return "drawing-" + drawingName + "-legendBullet-index-" + i; });
            //.on('mouseover', synchronizedMouseOver)
            //.on("mouseout", synchronizedMouseOut);

        // Plot the center node circle...
  // Note: Issue w/ selecting circles requires this circle to be drawn after legend bullet circles
        svgCanvas.selectAll("#focalNode")
            .data(focalNode).enter().append("svg:circle") // Append circle element
            .attr("x", width/2)
            .attr("y", height/2)
            .attr("stroke-width", "8")
            .style("stroke", function(d, i) { return color_hash[d.type]; })
            .style("fill", function(d, i) { return color_hash[d.type]; })
      .style("fill-opacity", .25)
            .attr("r", height/8-30)
            .attr("color_value", function(d, i) { return color_hash[d.type]; })
            .attr("class", function(d, i) { return "drawing-" + drawingName + "-focalNode-index-" + i; });
             //.on('mouseover', synchronizedMouseOver)
             //.on("mouseout", synchronizedMouseOut);

        // Create legend text at right that acts as label key...
        svgCanvas.selectAll("a.legend_link")
            .data(sortedKeys) // Instruct to bind dataSet to text elements
          .enter().append("svg:a") // Append legend elements
            //.attr("xlink:href", function(d) { return d.link; })
            .append("text")
              .attr("text-anchor", "center")
              .attr("x", width/2-150 + 10)
              //.attr("y", function(d, i) { return i*textVerticalSpace - legendVerticalOffset; } )
              .attr("y", function(d, i) { return (i*20-height/7*3); } )
              .attr("dx", 0)
              .attr("dy", "4px") // Controls padding to place text in alignment with bullets
        .text(function(d) { return d;})
              .attr("color_value", function(d, i) { return color_hash[d]; }) // Bar fill color...
              .attr("index_value", function(d, i) { return "index-" + i; })
              .attr("class", function(d, i) { return "drawing-" + drawingName + "-legendText-index-" + i; })
              .style("fill", "Black")
              .style("font", "normal 1.2em Arial");
              //.on('mouseover', synchronizedMouseOver)
              //.on("mouseout", synchronizedMouseOut);

      };
    </script>


  </head>

  <body>


            <div class="div_RootBody" id="radial_chart">
              <div class="chart"></div>
            </div>
      <script type="text/javascript">
  d3.select(self.frameElement).style("height", "1200px");
  d3.select(self.frameElement).style("width", "1200px");
        drawRadialHubAndSpoke("Drawing 1", focalNode, nodeSet, "#radial_chart .chart", "colorScale20", 10, 100, 5, 0);
      </script>

    </body>

</html>