<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
body {
  background-color: #FFFFFF;
}
</style>
<body>
<script type="text/javascript" src="{{url_for('static', filename='js/d3.v3.min.js')}}"></script>
<script>

var margin = {top: 0, right: 0, bottom: 0, left: 0},
    width = window.innerWidth - margin.right - margin.left -10,
    height = window.innerHeight - margin.top - margin.bottom - 20;
    
var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

 var svg = d3.select("body").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


d3.json("{{url_for('drugIndicationJSON',id=id)}}", function(error, flare) {
  root = flare;
  root.x0 = height / 2;
  root.y0 = width/4;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
});
function update(source) {
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { switch(d.depth){
  								case 0: d.y = Math.max(width/6,100); 
  										d.width = Math.max(width/6,90); 
  										break;
  								case 1: d.y = (Math.min(width/3*2,width-160)*2+Math.max(width/6,100))/3;
  										d.width = (Math.min(width/3*2,width-160)*2+Math.max(width/6,100))/6+20; 
  										break;
  								case 2: d.y = Math.min(width/3*2,width-160); 
  										d.width = Math.max(width/3,140);
  										break;}
  							});

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click", click);

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("stroke", function(d) { return d._children ? d.strokecolor : d.strokecolor; })
      .style("fill", function(d) { return d._children ? d.fillcolor : "#fff"; });

  wrap(nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", ".35em")
      .attr("width", function(d){return d.width;})
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) { return d.name; })
      .style("fill-opacity", 1e-6));
  
  
  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
      .attr("r", 4.5)
      .style("stroke", function(d) { return d._children ? d.strokecolor : d.strokecolor; })
      .style("fill", function(d) { return d._children ? d.fillcolor : "#fff"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}
// Wrap text
function wrap(text) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(' ').reverse(),
        word,
        localwidth = text.attr("width")
        line = [],
        lines = [],
        count = 0,
        lineNumber = 0,
        lineHeight = 1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null);
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > localwidth) {
    	count += 1;
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan")
        	.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
        	.attr("y", y)
        	.attr("dy", lineHeight + "em")
        	.text(word);
    	}
      
    }
  })
};
  
// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
    if (d.children == null) {window.open(d.url);}
  }
  update(d);
}

</script>