{% extends "base.html" %}
{% block title %}RepurposeDB | Index{% endblock %}
{% block content %}
    <div class="container homepage">
      <div class="container">
        <h2>RepurposeDB | Curated catalog of repositioned drugs</h2>
              <hr>
              <p align=justify><font color=#58585a>Right drug in right dose for right patient at right time via right route is defined 
              as one of the promising outcome of personalized, multi-omic medicine. Systematic drug repositioning enables the 
              translation of insights from computational analyses coupled with laboratory based or experimental findings to bench side 
              in a shorter span of time. From the first report of drug repositioning in early 1950s till 2015, more than 250 successful 
              reports have been published in the literature. We analyzed the repertoire of such cases reported and derived a molecular 
              code for drug repositioning. The analyses of the data in the format of drugs, primary indications and secondary indications 
              reveal molecular preferences; ligand classes, functional roles and pathways were drug repositioning was successful. We 
              envisage our first report on global analyses of successful drug repositioning space and <b  >RepurposeDB</b> could help to 
              develop predictive models of drug repositioning and can have major influence in personalized drug repositioning, an 
              emerging therapeutic area in data-driven, individualized medicine.</font></p>

      </div>
    </div>
      <div id="get-involved">
      <div class="container homepage">
        <h2>Explore RepurposeDB</h2>
        <hr>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <a href="{{url_for('browseDrugs')}}"><span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x" style="color:#58585a"></i>
              <i class="fa fa-plus-square fa-stack-1x fa-inverse" style="color:#487dbe"></i>
            </span></a>
            <h3>Repositioned Drugs</h3>
            <p>Explore repositioned drug cataloged in Repurposed.db</p>
            <p><a class="btn btn-default" href="{{url_for('browseDrugs')}}" role="button">Browse Drugs &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <a href="{{url_for('browseDiseases')}}"><span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x" style="color:#58585a"></i>
              <i class="fa fa-stethoscope fa-stack-1x fa-inverse" style="color:#487dbe"></i>
            </span></a>
            <h3>Diseases</h3>
            <p>Primary and secondary indications of drugs cataloged in Repurposed.db</p>
            <p><a class="btn btn-default" href="{{url_for('browseDiseases')}}" role="button">Browse Diseases &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <a href="{{url_for('contribute')}}#contribute}}"><span class="fa-stack fa-4x">
              <i class="fa fa-square-o fa-stack-2x" style="color:#58585a"></i>
              <i class="fa fa-cloud-upload fa-stack-1x fa-inverse" style="color:#487dbe"></i>
            </span></a>
            <h3>Contribute</h3>
            <p>If you have a new indication to existing drug, contribute to Repurpose.db</p>
            <p><a class="btn btn-default" href="{{url_for('contribute')}}#contribute" role="button">Submit Data &raquo;</a></p>
          </div>
            
        </div>
          
      </div> <!-- /container -->
    </div>

    <div class="container homepage">
      <h2>Who We Are</h2>
      <hr>
      <p class="defaultLinks" align=justify>Our research focuses on the development and use of translational and biomedical informatics approaches to address 
      	critical challenges in systems medicine and biomedical informatics. We are interested in identifying and developing novel 
      	therapeutic and diagnostic approaches for human disease through integration and analysis of molecular and clinical data, and 
      	also perform research to develop and evaluate methods to incorporate genomic sequencing data into clinical practice.
      	Design, development and analytics of RepurposeDB is supported by the following NIH grants: 
      	<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=8826738&icde=26648210&ddparam=&ddvalue=&ddsub=&cr=3&csb=default&cs=ASC">R01-DK098242-03</a> and 
      	<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=8898032&icde=26648241&ddparam=&ddvalue=&ddsub=&cr=7&csb=default&cs=ASC">U54-CA189201-02</a></p>
      <a href=http://dudleylab.org style="text-decoration:none;"><img src="static/images/DudleyLab.png" title="Link to Dudley Laboratory" alt="Dudley lab logo"></a>

    </div>
{% endblock %}
