{% extends "base.html" %}
{% block title %}RepurposeDB | Privacy Policy{% endblock %}
{% block content %}
   <div class="container homepage">
      <div class="container">
          <font color="black"></font>
        <h2>Mount Sinai Health System Privacy Policy</h2>
              <hr>
              <p align=justify><font color=#58585a>
              	Please read the following carefully before using the site.
              </font></p>
              <p align=justify><font color=#58585a>
			  	The only information that Mount Sinai and the Dudley Lab obtains about individual visitors to its website is that supplied voluntarily by visitors. You grant the site the right to transmit, monitor, retrieve, store and use your information in connection with the operation of the site.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	Mount Sinai  and the Dudley Lab employ strict security measures to safeguard online communications; personal information is stored in a secure database.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	In order to provide visitors with other valuable information, Mount Sinai and the Dudley Lab may provide links to third-party sites. However, Mount Sinai and the Dudley Lab exercise no authority over third-party sites, each of which maintains independent privacy and data collection policies and procedures.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	We do not warrant or represent that the information submitted to the site will be protected against, loss, misuse, or alteration by third parties.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	Mount Sinai and the Dudley Lab assume no responsibility or liability for these independent methods or actions and are not responsible for the independent policies or procedures of destination sites. The site cannot and does not assume responsibility or liability for any information you submit to the site or for third parties' use or misuse of information transmitted or received from this site.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	You are responsible for taking all reasonable steps to ensure that no unauthorized person shall have access to your site password or account. It is your sole responsibility to (1) control the dissemination and use of activation codes and passwords; (2) authorize, monitor and control access to and use of your site account and password; and (3) promptly inform the site of any need to deactivate a password.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	These destination links are provided only for your convenience and, as such, you access them at your own risk. However, Mount Sinai and the Dudley Lab wishe to assure the integrity of its site and its destination links, so any comments pertaining to our site or any sites accessed through our site links are greatly appreciated.
			  </font></p>
			  <p align=justify><font color=#58585a>
			  	For the latest version of the Privacy Policy, please see <a href="http://www.mountsinai.org/about-us/privacy-policy"> Mount Sinai Privacy Policy</a>
			  </font></p>
      </div>
    </div>
{% endblock %}
