{% extends "base.html" %}
{% block title %}RepurposeDB | RxPRED{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/fileinput.min.css') }}">
{% endblock %}
{% block content %}

	<div class="container homepage">
    	<h2>Small Molecule and Protein-Drug Similarity Search</h2>
    	<hr>
    	{% if sdfFile %}
		<div class="row data-container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
				<div class = "col-xs-12 col-sm-12 col-md-5 col-lg-4">
          			<iframe src="{{url_for('drugVisJSmol2')}}" height = "375" width = "375"></iframe>
          		</div>
          		{% if chemcomparison %}
	          		<div class = "col-xs-12 col-sm-12 col-md-7 col-lg-8">
	          			<table class = "table table-hover table-bordered table-condensed wide defaultLinks" id = 'chemcomparison'>
			              	<thead>
			              		<tr>
				    				<th>RxID</th>
				    				<th>Similarity Score</th>
			    				</tr>
			  				</thead>
			  				<tbody id = 'chemtable'>
			  				</tbody>
						</table>
		              <div style = "text-align:center">
					  <ul class="pagination" id = "chempaginator">
					  </ul>
					  </div>
	          		</div>
          		{% endif %}
          	</div>
        </div>
    	{% endif %}
    	{% if proteinAlignment %}
		<div class="row data-container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-lg"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
	          		<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
	          			<table class = "table table-hover table-bordered table-condensed wide defaultLinks" id = 'proteincomparison''>
			              	<thead>
			              		<tr>
				    				<th>RxID</th>
				    				<th>BLAST Score</th>
				    				<th>Identity</th>
				    				<th>Positive</th>
				    				<th>Gaps</th>
				    				<th>Show Alignment</th>
			    				</tr>
			  				</thead>
			  				<tbody id = 'proteintable'>
			  				</tbody>
						</table>
		              <div style = "text-align:center">
					  <ul class="pagination" id = "proteinpaginator">
					  </ul>
					  </div>
	          		</div>
          	</div>
        </div>
		<div class="row data-container well">
	       	<div class = "col-xs-11 col-sm-11 col-md-11 col-lg-11 col-centered msa">
	       		<div id = "msa"></div>
	       	</div>
		</div>
    	{% endif %}
    	<form class='myForm' action="{{url_for('RxPRED')}}" method="POST" enctype="multipart/form-data">
				<div class="row data-container">
					<ul class="nav nav-pills nav-justified">
						<li role="presentation" {% if focusProtein == 'False' %}class = "active" {% endif %}id='small-tab'><a>Small Molecule Search</a></li>
						<li role="presentation" {% if focusProtein == 'True' %}class = "active" {% endif %}id = "protein-tab"><a>Protein-Drug Search</a></li>
					</ul>
				 	{{ form.csrf_token }} 
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tab-content clear-fix"><!-- <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 col-centered well well-lg"> -->
						<div id = "SmallMoleculeInput" {% if focusProtein == 'True' %}style='display:none' {% endif %}>
							<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
								Please input a SMILE code or an SDF file: 
			                	<a id = 'example' style='cursor:pointer; {% if focusFileInput == 'True' %}display:none;{% endif %}' role="button" onClick="addExample();">Example</a>
							{{form.sdfFile.error}}
							</div>
							<div id="input-file" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 fileInputDiv" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
								{{ render_field(form.sdfFile, class="form-control", id="input") }}
								<div id="errorBlock-1" class="help-block"></div>
							</div>
							<div id="input-text" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" {% if focusFileInput == 'True' %}style='display:none' {% endif %}>
								{{ render_field(form.smile, class="form-control", id="SMILE") }}
			               	</div>
			               	<div id = 'input-text-button' class="col-lg-3 col-md-3 col-sm-3 col-xs-12" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
			                	<button id="showTextInputButton" type="button" class="btn btn-default btn-block">Input SMILE</button>
			                </div>
							<div id = 'input-file-button' class="col-lg-3 col-md-3 col-sm-3 col-xs-12"{% if focusFileInput == 'True' %}style='display:none' {% endif %}>
			               		<button id="showFileInputButton" type="button" class="btn btn-default btn-block">Input .SDF</button>
			               	</div>
			               	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
		                		<input type=submit value="Run Query" class="btn btn-primary center-block more-margins">
							</div>
						</div>
						<div id = "ProteinInput" {% if focusProtein == 'False' %}style='display:none' {% endif %}>
							<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
								Please input a protein sequence or a .fasta file:
			                	<a id = 'example-2' style='cursor:pointer;{% if focusFileInput == 'True' %} display:none;{% endif %}' role="button" onClick="addExample2();">Example</a>
							{{form.proteinFile.error}}
							</div>
							<div id="input-file-2" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
								{{ render_field(form.proteinFile, class="form-control", id="input-2") }}
								<div id="errorBlock-2" class="help-block"></div>
							</div>
							<div id="input-text-2" class="col-lg-9 col-md-9 col-sm-9 col-xs-12 fileInputDiv" {% if focusFileInput == 'True' %}style='display:none' {% endif %}>
								{{ render_field(form.protein, class="form-control", id="protein") }}
			               	</div>
			               	<div id = 'input-text-button-2' class="col-lg-3 col-md-3 col-sm-3 col-xs-12" {% if focusFileInput == 'False' %}style='display:none' {% endif %}>
			                	<button id="showTextInputButton-2" type="button" class="btn btn-default btn-block">Input Protein Sequence</button>
			                </div>
							<div id = 'input-file-button-2' class="col-lg-3 col-md-3 col-sm-3 col-xs-12"{% if focusFileInput == 'True' %}style='display:none' {% endif %}>
			               		<button id="showFileInputButton-2" type="button" class="btn btn-default btn-block">Input .fasta</button>
			               	</div>
			               	<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
		                		<input type=submit value="Run Query" class="btn btn-primary center-block more-margins">
							</div>
						</div>
					</div>
				</div>
		</form>
	</div>
<script type="text/javascript" src="{{url_for('static', filename='js/fileinput.min.js')}}"></script>
<script src=//cdn.biojs.net/msa/0.4/msa.min.gz.js></script>
<script>

$("#input").fileinput({
    showPreview: false,
    allowedFileExtensions: ["sdf"],
    elErrorContainer: "#errorBlock-1",
    maxFileSize: 100,
    showUpload: false
});
$("#input-2").fileinput({
    showPreview: false,
    allowedFileExtensions: ["fasta"],
    elErrorContainer: "#errorBlock-2",
    maxFileSize: 100,
    showUpload: false
});
function swap(one, two){
    document.getElementById(one).style.display = 'none';
    document.getElementById(two).style.display = 'block';
}
function swapTwo(one, two, three, four) {
	swap(one,two)
	swap(four,three)
}
function swapTabs(tabone, tabtwo, tabcontentone, tabcontenttwo){
	swap(tabcontentone,tabcontenttwo)
    $('#'+tabone).removeClass('active');
	$('#'+tabtwo).addClass('active');
}
document.getElementById('showTextInputButton').addEventListener('click',function(e){
    swapTwo('input-file', 'input-file-button', 'input-text', 'input-text-button');
    document.getElementById('example').style.display = '';
    $('#SMILE').val('');
});
document.getElementById('showFileInputButton').addEventListener('click',function(e){
    swapTwo('input-text', 'input-text-button', 'input-file', 'input-file-button');
    document.getElementById('example').style.display = 'none';
});
document.getElementById('showTextInputButton-2').addEventListener('click',function(e){
    swapTwo('input-file-2', 'input-file-button-2', 'input-text-2', 'input-text-button-2');
    document.getElementById('example-2').style.display = '';
    $('#protein').val('');
});
document.getElementById('showFileInputButton-2').addEventListener('click',function(e){
    swapTwo('input-text-2', 'input-text-button-2', 'input-file-2', 'input-file-button-2');
    document.getElementById('example-2').style.display = 'none';
});
document.getElementById('protein-tab').addEventListener('click',function(e){
    if (!($('#protein-tab').hasClass('active'))){
        swapTabs('small-tab', 'protein-tab', 'SmallMoleculeInput', 'ProteinInput');
    }
    $('#SMILE').val('');
    $('#protein').val('');
});
document.getElementById('small-tab').addEventListener('click',function(e){
    if (!($('#small-tab').hasClass('active'))){
    	swapTabs('protein-tab', 'small-tab', 'ProteinInput', 'SmallMoleculeInput');
    }
    $('#SMILE').val('');
    $('#protein').val('');
});

function addExample() {
	var newtext = "CCN1N=NN(CCN2CCC(COC)(CC2)N(C(=O)CC)C2=CC=CC=C2)C1=O DB00802";
    $('#SMILE').val(newtext);
}

function addExample2() {
	var newtext = "QVQLKQSGPGLVQPSQSLSITCTVSGFSLTNYGVHWVRQSPGKGLEWLGVIWSGGNTDYNTPFTSRLSINKDNSKSQVFFKMNSLQSNDTAIYYCARALTYYDYEFAYWGQGTLVTVSAASTKGPSVFPLAPSSKSTSGGTAALGCLVKDYFPEPVTVSWNSGALTSGVHTFPAVLQSSGLYSLSSVVTVPSSSLGTQTYICNVNHKPSNTKVDKRVEPKSPKSCDKTHTCPPCPAPELLGGPSVFLFPPKPKDTLMISRTPEVTCVVVDVSHEDPEVKFNWYVDGVEVHNAKTKPREEQYNSTYRVVSVLTVLHQDWLNGKEYKCKVSNKALPAPIEKTISKAKGQPREPQVYTLPPSRDELTKNQVSLTCLVKGFYPSDIAVEWESNGQPENNYKTTPPVLDSDGSFFLYSKLTVDKSRWQQGNVFSCSVMHEALHNHYTQKSLSLSPGK";
    $('#protein').val(newtext);
}

{% if chemcomparison %}
var chemcomparison = {{chemcomparison|safe}}
chemcomparison.sort(function(a,b){
	return parseFloat(b[1])-parseFloat(a[1]);
})

function loadChemComparisonTable_(event){
	loadChemComparisonTable(event.data)
}

function loadChemComparisonTable(page){
	var rowsPerPage = 9;
	var paginatorEdgeLength = 2;
	var numItems = chemcomparison.length;
	var start = (page-1)*rowsPerPage;
	var end =  Math.min(page*rowsPerPage,numItems);
	var numTabs = Math.ceil(numItems/parseFloat(rowsPerPage))
	//var table = $('#chemcomparison')
	var tablebody = $('<tbody/>',{
		"id":"chemtable"
	})
	
	for (var index = start; index < end; index++){
		tablebody.append("<tr><td><a href="+chemcomparison[index][2]+">"+chemcomparison[index][0]+"</td><td>"+chemcomparison[index][1]+"</td></tr>")
	}
	//var prevbody = table.find('tbody');
	//if (!(prevbody === undefined )){
	//	prevbody.replaceWith(tablebody)
	//}else{
	//	table.append(tablebody)
	//}
	$('#chemtable').replaceWith(tablebody);
	
	var paginator = $('<ul/>', {
		"class":"pagination",
		"id" : "chempaginator"
	})
	
	//Go Back button
	var prevButton = $('<li/>', {
		"html":"<a href='#'>&laquo;</a>"
	})
	if (page == 1){
		prevButton.addClass("disabled");
	}else{
		prevButton.click(page - 1, loadChemComparisonTable_)
	}
	paginator.append(prevButton)
	
	var hasntInsertedEllipses = true;
	for (var index = 1; index <= numTabs; index++){
		if (index == page){
			paginator.append($('<li/>', {
				"html":"<a style='cursor:pointer'>"+index.toString()+"</a>",
				"class":"active"
			}))
			hasntInsertedEllipses = true;
		}else if ((index <= paginatorEdgeLength) || (index > (numTabs-paginatorEdgeLength)) || (index <= page+paginatorEdgeLength && index >= page-paginatorEdgeLength)){
			var pagebutton = $('<li/>', {
				"html":"<a style='cursor:pointer'>"+index.toString()+"</a>"
			})
			pagebutton.click(index, loadChemComparisonTable_)
			paginator.append(pagebutton)
			hasntInsertedEllipses = true;
		}else if (hasntInsertedEllipses){
			paginator.append($('<li/>', {
				"html":"<span class=ellipsis>…</span>",
			}))
			hasntInsertedEllipses = false;
		}
	}

	//Go Forward button
	var nextButton = $('<li/>', {
		"html":"<a href='#'>&raquo;</a>"
	})
	if (page == numTabs){
		nextButton.addClass("disabled");
	}else{
		nextButton.click(page + 1, loadChemComparisonTable_)
	}
	paginator.append(nextButton)
	
	$('#chempaginator').replaceWith(paginator)
}

$(document).ready(function(){
	loadChemComparisonTable(1)
})
{% endif %}
{% if proteinAlignment %}
	
/* var xhttp = new XMLHttpRequest();
var xmlDoc = null;
xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
    	xmlDoc = xhttp.responseXML;
    	loadProteinAlignment(1);
    }
}
xhttp.open("GET", '{{proteinAlignment}}', true);
xhttp.send(); */

function loadProteinAlignment_(event){
	loadProteinAlignment(event.data)
}

var proteinJSON = null;
function loadProteinJSON(data){
	proteinJSON = data;
	loadProteinAlignment(1);
}

var msa = require("msa");
function loadMSA(index){
	var seqs = [{'name':'Query Sequence',
				 'seq':proteinJSON[index]['query_seq']
				},
				{'name':'Consensus Sequence',
				 'seq':proteinJSON[index]['consensus']
				},
				{'name':proteinJSON[index]['id'],
				 'seq':proteinJSON[index]['target_seq']
				}]
	var m = new msa({
	  el: $('#msa'),
	  seqs: seqs
	});
	m.g.vis.set("labelId", false);
	m.g.zoomer.set("labelNameLength", 130);
	m.g.zoomer.set("alignmentHeight", 50);
	m.g.vis.set("leftHeader", false);
	m.render();
}

function loadProteinAlignment(page){
	var rowsPerPage = 9;
	var paginatorEdgeLength = 2;
	var numItems = proteinJSON.length;
	var start = (page-1)*rowsPerPage;
	var end =  Math.min(page*rowsPerPage,numItems);
	var numTabs = Math.ceil(numItems/parseFloat(rowsPerPage))
	//var table = $('#proteincomparison')
	var tablebody = $('<tbody/>',{
		"id":"proteintable"
	})
	
	for (var index = start; index < end; index++){
		var hit = proteinJSON[index];
		tablebody.append("<tr><td><a href='{{url_for('drug',id='')}}"+hit['id']+"'>"+hit['id']+"</a></td>\
						  <td>"+hit['score']+"</td>	\
						  <td>"+hit['identity']+'/'+hit['len']+"</td> \
						  <td>"+hit['positive']+'/'+hit['len']+"</td> \
						  <td>"+hit['gaps']+'/'+hit['len']+"</td> \
						  <td class ='defaultLinks' onclick='loadMSA("+index.toString()+")'><a>Click Me!</a></td></tr>")
	}
	$('#proteintable').replaceWith(tablebody);
	
	var paginator = $('<ul/>', {
		"class":"pagination",
		"id" : "proteinpaginator"
	})
	
	//Go Back button
	var prevButton = $('<li/>', {
		"html":"<a href='#'>&laquo;</a>"
	})
	if (page == 1){
		prevButton.addClass("disabled");
	}else{
		prevButton.click(page - 1, loadProteinAlignment_)
	}
	paginator.append(prevButton)
	
	var hasntInsertedEllipses = true;
	for (var index = 1; index <= numTabs; index++){
		if (index == page){
			paginator.append($('<li/>', {
				"html":"<a style='cursor:pointer'>"+index.toString()+"</a>",
				"class":"active"
			}))
			hasntInsertedEllipses = true;
		}else if ((index <= paginatorEdgeLength) || (index > (numTabs-paginatorEdgeLength)) || (index <= page+paginatorEdgeLength && index >= page-paginatorEdgeLength)){
			var pagebutton = $('<li/>', {
				"html":"<a style='cursor:pointer'>"+index.toString()+"</a>"
			})
			pagebutton.click(index, loadProteinAlignment_)
			paginator.append(pagebutton)
			hasntInsertedEllipses = true;
		}else if (hasntInsertedEllipses){
			paginator.append($('<li/>', {
				"html":"<span class=ellipsis>…</span>",
			}))
			hasntInsertedEllipses = false;
		}
	}

	//Go Forward button
	var nextButton = $('<li/>', {
		"html":"<a href='#'>&raquo;</a>"
	})
	if (page == numTabs){
		nextButton.addClass("disabled");
	}else{
		nextButton.click(page + 1, loadProteinAlignment_)
	}
	paginator.append(nextButton)
	
	$('#proteinpaginator').replaceWith(paginator)
	loadMSA(start)
}

$(document).ready(function(){
	$.getJSON("{{proteinAlignment}}", loadProteinJSON);
})

{% endif %}
</script>
{% endblock %}
