{% extends "base.html" %}
{% block title %}RepurposeDB | Search Results{% endblock %}
{% block content %}
	
    <div class="container homepage">
        <h2>Search Results</h2>
        <hr>
    </div>
    {% if results %}
    <div class="container">
      	<div class="row">
      		<hr color = "silver">
	    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        	<table class="table table-hover">
              	<thead>
              		<tr>
              			{% for col in header %}
	    					<th>{{col}}</th>
              			{% endfor%}
    				</tr>
  				</thead>
              	<tbody>
              		{% for entry in results[PER_PAGE*(page-1):PER_PAGE*page] %}
              			<tr>
              				{% if entry[0][0] == 'R' %}
              					{% set type, lookuptype, lookup = 'drug', 'disease', diseaseIDLookup %}
							{% else %}
              					{% set type, lookuptype, lookup = 'disease', 'drug', drugIDLookup  %}
							{% endif %}
              				<td><div {% if query and query in entry[0].lower() %} class="highlight" {% endif %}>
								<a href="{{url_for(type, id = entry[0])}}">{{entry[0]}}</a></div></td>
							<td><span {% if query and query in entry[1].lower() %} class="highlight" {% endif %}>{{entry[1]}}</span></td>
							<td><a {% if query and query in entry[2].lower() %} class="highlight" {% endif %}
							
							{% if 'PubChem:' in entry[2][0:8] %}
								href=http://pubchem.ncbi.nlm.nih.gov/compound/{{entry[2][9:]}}
              				{% elif 'CHEMBL' in entry[2][0:6] %}
              					href=https://www.ebi.ac.uk/chembl/compound/inspect/{{entry[2]}}
              				{% else %}
              					href=http://www.drugbank.ca/drugs/{{entry[2]}}
              				{% endif %}>{{entry[2]}}</a></td>
							
							<td><span {% if query and query in entry[3].lower() %} class="highlight" {% endif %}>{{entry[3]}}</span></td>
              				{% for col in entry[4:8] %}
								<td>
									{% set indications = expand(col) %}
									<a {% if query and query in indications[0].lower() %} class="highlight" {% endif %}
									href="{{url_for(lookuptype, id = lookup[indications[0]])}}">{{indications[0]}}</a>{% for indication in indications[1:] %};
										<a {% if query and query in indication.lower() %} class="highlight" {% endif %}
										href="{{url_for(lookuptype, id = lookup[indication])}}"> {{indication}}</a>{% endfor %}
								</td>
							{% endfor %}
              				<td>
	              			{% if entry[8]|length > 0 %}
              				{% for source in expand(entry[8]) %}
	              				{% if 'FDA' in source %}
								<form action="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" method="post" name="displaysearch" style="margin-bottom:0px">
									<a href="http://www.accessdata.fda.gov/scripts/cder/drugsatfda/index.cfm" class="submitbutton {% if query and query in source.lower() %}highlight{% endif %}">{{source}}{% if loop.index != expand(entry[8])|length %};{% endif %}</a>
		   							<input type="Hidden" name="fuseaction" value="Search.SearchAction">
	                                <input type="Hidden" name="SearchType" value="BasicSearch" />
	                                <input type="Hidden" name="searchTerm" id="searchTerm" maxlength="250" size="30" value="{{entry[1]}}"/>
								</form>
								{% else %}
								<a {% if query and query in source.lower() %} class="highlight" {% endif %} href={{url_for_pubmed(entry)}} >{{source}}{% if loop.index != expand(entry[8])|length %};{% endif %}</a>
								{% endif %}
							{% endfor %}
							{% endif %}
							</td>
							
						</tr>
              		{% endfor %}
  				</tbody>
              </table>
              {% if pagination %}
              <div style = "text-align:center">
			  	<ul class="pagination">
				  	{% if pagination.has_prev %}
				    	<li><a href="{{url_for_other_page(pagination.page-1, terms={'query':query})}}">&laquo;</a></li>
				  	{% endif %}
				  	{% for next_page in pagination.iter_pages() %}
				    	{% if next_page %}
				      		{% if next_page != pagination.page %}
				        		<li><a href="{{url_for_other_page(next_page, terms={'query':query})}}">{{ next_page }}</a></li>
				      		{% else %}
				        		<li class="active"><a>{{ next_page }}</a></li>
				      		{% endif %}
				    	{% else %}
				      		<li><span class=ellipsis>…</span></li>
				    	{% endif %}
				  	{% endfor %}
				  	{% if pagination.has_next %}
				    	<li><a href="{{url_for_other_page(pagination.page + 1, terms={'query':query})}}">&raquo;</a></li>
				  	{% endif %}
			  	</ul>
			  </div>
              {% endif %}
	        </div> 
        </div>
    </div>
    {% else %}
    <div class="container">
      	<div class="row">
    		<p align=center>There are no results to show here.</p>
    	</div>
    </div>
    {% endif %}
      
{% endblock %}