{% extends "base.html" %}
{% block title %}RepurposeDB | Contribute{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container homepage">
	<h2>Thank You for Submitting to RepurposeDB!</h2>
</div>
{% endblock %}